<launch>
  
  <!-- Launch UR5 in Gazebo -->
  <!-- <include file = "$(find pkg_vb_sim)/launch/gazebo_ur5_1.launch" /> -->
  <include file = "$(find models_pkgs)/launch/spawn_ur5.launch" />
  <!-- Launch Moveit Group Node -->
  <include file = "$(find pkg_movit_ur5)/launch/move_group.launch" /> 

  <!-- Run Rviz and load the default config to see the state of the move_group node --> 
  <arg name="use_rviz" default="true" />

  <include file="$(find pkg_movit_ur5)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find pkg_movit_ur5)/launch/moveit.rviz"/>
  </include>
  

</launch>